body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: black;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
}

.titulo { 
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: baseline;
}

h1 {
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    margin: 2px;
}   

button {
    background-color: transparent;
    fill: white;
    border: none;
    width: fit-content;
    height: fit-content;
    
}

button:hover {
    cursor: pointer;
    fill: #3b4a54;
}

svg {
    height: 18px;
}

.mensagens {
    color: white;
    padding-top: 15px;
}

hr {
    border: 1px dotted white;   
}

.mensagemremetente {
    display: flex;
    align-items: center;
    background-color: #3b4a54;
    width: fit-content;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 20px; 
    position: relative;
    margin: 5px;
}

.mensagemdestinatario {
    text-align: right;
    display: flex;
    align-items: center;
    background-color: #00a884;;
    width: fit-content;
    border-radius: 10px;
    margin: 5px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 25px;
    position: relative;
    margin-right: 10px;
    

}

.check1, .check2 {
    fill: aqua;
    position: absolute;
    bottom: 2px;
    right: 1px;
    width: 10px;
}

.seta {
    fill: none;
    position: absolute;
    top: 5px;
    right: 6px;
    width: 10px;
}

.mensagemremetente:hover .seta, .mensagemdestinatario:hover .seta{
    fill: white;
    cursor: pointer;
}